[submodule "cob_extern"]
	path = cob_extern
	url = git@github.com:ipa320/cob_extern.git
[submodule "cob_common"]
	path = cob_common
	url = git@github.com:ipa320/cob_common.git
[submodule "cob_driver"]
	path = cob_driver
	url = git@github.com:ipa320/cob_driver.git
[submodule "cob_simulation"]
	path = cob_simulation
	url = git@github.com:ipa320/cob_simulation.git
[submodule "cob_apps"]
	path = cob_apps
	url = git@github.com:ipa320/cob_apps.git
