<?xml version="1.0"?>
<launch>

	<node pkg="cob3_arm_ik" type="cob3_arm_ik_node" name="cob3_arm_ik" output="screen">    
		<param name="tip_name" value="link_arm7" />     
		<param name="root_name" value="link_arm0" />  
		<remap from="check_state_validity" to="/check_state_validity"/>
		<remap from="get_state_cost" to="/get_state_cost"/>
	</node>

</launch>
