<?xml version="1.0"?>
<launch>

	<node pkg="rostopic" type="rostopic" name="reference_finger1-1_finger1-2" args="pub /controller_finger1-1_finger1-2/command std_msgs/Float64 0" />
	<node pkg="rostopic" type="rostopic" name="reference_finger1-2_finger1-3" args="pub /controller_finger1-2_finger1-3/command std_msgs/Float64 0" />
	<node pkg="rostopic" type="rostopic" name="reference_finger2-1_finger2-2" args="pub /controller_finger2-1_finger2-2/command std_msgs/Float64 0"/>
	<node pkg="rostopic" type="rostopic" name="reference_finger2-2_finger2-3" args="pub /controller_finger2-2_finger2-3/command std_msgs/Float64 0"/>
	<node pkg="rostopic" type="rostopic" name="reference_thumb1_thumb2" args="pub /controller_thumb1_thumb2/command std_msgs/Float64 0"/>
	<node pkg="rostopic" type="rostopic" name="reference_thumb2_thumb3" args="pub /controller_thumb2_thumb3/command std_msgs/Float64 0"/>

</launch>
