<?xml version="1.0"?>
<robot name="cob3_sdh"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

	<!-- create link_arm7 to fix sdh to -->
	<link name="link_arm7">
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<mass value="2000"/>
			<inertia ixx="1"  ixy="0"  ixz="0" iyy="1" iyz="0" izz="1" />
		</inertial>
		<visual>
			<origin xyz="0 0 0.0563" rpy="0 0 0" />
			<geometry>
		        <box size="0.1 0.1 0.1126"/>
<!--				<mesh filename="package://cob3_defs/common/files/meshes/arm7.stl" /> -->
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0.0563" rpy="0 0 0" />
			<geometry>
		        <box size="0.1 0.1 0.1126"/>
<!--				<mesh filename="package://cob3_defs/common/files/meshes/arm7.stl"/> -->
			</geometry>
		</collision>
	</link>

	<gazebo reference="link_arm7">
		<material>Gazebo/Black</material>
		<turnGravityOff>false</turnGravityOff>
	</gazebo>
	
	<!-- include gazebo defs-->
	<include filename="$(find cob3_defs)/ros/defs/gazebo.urdf" />
	
	<!-- include sdh defs-->
	<include filename="$(find cob3_defs)/ros/defs/sdh.urdf" />

</robot>
